<!-- Download from http://h5.sina.cn/photo/nlz/2016-02-29/sinaphoto360GreatHal.html?vt=4&ch=photo,_top -->
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
<meta name="format-detection" content="telephone=no">
<title>人民大会堂全景巡游-新浪图片两会策划-新浪新闻出品</title>
<meta name="keywords" content="人民大会堂全景巡游-新浪图片两会策划-新浪新闻出品">
<meta name="description" content="人民大会堂全景巡游-新浪图片两会策划-新浪新闻出品">
<script src="http://mjs.sinaimg.cn/wap/online/public/addjs/addjs.min.js?v=0.1" data-config="http://mjs.sinaimg.cn/wap/module/h5_builder/main/js/config.js" data-config-cache="2"></script>
<script>
var host = location.host;
if(host === 'h5.sina.cn'){
    addjs.css('http://mjs.sinaimg.cn/wap/module/h5_builder/main/css/h5.min.css');
}else{
    // addjs.css('http://wap_front.dev.sina.cn/niumeng/h5/css/h5.min.css');
    addjs.css('http://mjs.sinaimg.cn/wap/module/h5_builder/main/css/h5.min.css');
}
(function(win) {
    var doc = win.document;
    var docEl = doc.documentElement;
    var tid;
    function refreshRem() {
        var width = docEl.getBoundingClientRect().width;
        if (width > 540) {
            width = 540;
        }
        var rem = width / 10;
        docEl.style.fontSize = rem + 'px';
    }
    win.addEventListener('resize', function() {
        clearTimeout(tid);
        tid = setTimeout(refreshRem, 300);
    }, false);
    win.addEventListener('pageshow', function(e) {
        if (e.persisted) {
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);
    refreshRem();
})(window);
</script>

        <script type="text/javascript">
        //公共全局配置文件
        var globalConfig = {
	        startTime	:	new Date().getTime(),	//页面开始渲染时间 ， 目前应用于：日志统计、性能统计。
            isLogin     :   ''
        }
        </script><script src="http://mjs.sinaimg.cn/wap/public/suda/201601071000/suda_log.min.js"></script>
</head>
<body style="background:#fff">
<audio class="bgAudio"></audio>
<audio class="clickAudio"></audio>
<!--  缩略图 -->
<div class="shareImgWrap">
    <img src="http://m1.sinaimg.cn/maxwidth.480/m1.sinaimg.cn/d54e414105d73692ff84c83d84c404f9_320_320.jpg"/>
</div>
<!--  缩略图 -->

<!-- 主页面 -->
<div class="swiper-container" id="wrapAll">
    <div class="swiper-wrapper">
   
        <div class="swiper-slide" data-height="504" style="background:url(http://n.sinaimg.cn/mobileh5/86ca1293/20160302/2.jpg) no-repeat;background-size:cover">
             <div class="j_call_native" style="width:100%;height:250px;background:blue;position:absolute;top:60%;opacity: 0;" data-url="http://h5.sina.cn/photo/nlz/2016-02-29/sinaphoto360GreatHal.html?vt=4&ch=photo,_top&fromsinago=1" data-app="news" suda-click="btn" data-domain="h5" data-channel="h5" data-type="2513" data-calluptype="SN_0129" data-position="1" data-downloadk="178">
             </div>
         </div>
        
         <script>
            var __pushConfig = {__isAllNotShow : true}
         </script>
        
        <script src="http://mjs.sinaimg.cn/wap/online/public/NPH/v3/nph.min.js"></script>
        <script src="http://mjs.sinaimg.cn/wap/public/suda/201601071000/suda_log.min.js"></script>
        <script src="http://mjs.sinaimg.cn/wap/public/suda/201601071000/suda_map.min.js"></script>
        <script>
    		function sendSinanewsLog(){
                var _ua = navigator.userAgent.toLowerCase(),
                isSinaNews = _ua.indexOf('sinanews')>-1,
                aid = '';
                if(isSinaNews){
                  aid = 'expose_sinanews';
                }else{
                  aid = 'expose';
                }
                sendSudaLog(aid);
            }
            var sudaMapConfig = { uId:'', pageId:'3576' };
            suda_init(sudaMapConfig.pageId, 100);
            var sendSudaLog = function(sudaName){
                var obj = {
                    'name' : sudaName,
                    'type' : '',
                    'title' : '',
                    'index' : '',
                    'href' : ''
                };
                if( typeof(window.suds_count) == 'function' || window.suds_count){
                    window.suds_count && window.suds_count( obj );
                }
            }
            sendSinanewsLog();
        </script>
            
        <div class="swiper-slide swiper-lazy" data-height="480" isscrollframe="true" style="background-repeat:no-repeat;background-position:top center;background-size:cover;"  data-background="http://m1.sinaimg.cn/maxwidth.2880/m1.sinaimg.cn/e0e0062453d4f41a6cffb963f9be8424_680_1136.jpg">
	                <div style="z-index:255;;width:92.8125%;height:61.25000000000001%;left:2.8%;top:17.5%;display:none;"  class="goto" id="n_255" goto='1'><img style="-webkit-animation:rotateIn 5s ease 0.5s 1 none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/5290953cfb4bc6e26f1367b070262957_640_650.png"></div>
	                <div style="z-index:256;;height:15.416666666666668%;width:54.0625%;left:24.1%;top:76.9%;display:none;"  class="goto" id="n_256" goto='1'><img style="-webkit-animation:fadeInUpBig 1s ease 3s 1 none,pulse 1.1s ease 4.1s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/97ec7f3c07f24d342edbc27bc45e2e02_326_130.png"></div>
        </div>
        <div class="swiper-slide swiper-lazy" data-height="480" isscrollframe="true" style="background-repeat:no-repeat;background-position:top center;background-size:cover;"  data-background="http://m1.sinaimg.cn/maxwidth.2880/m1.sinaimg.cn/c982b85d175a537a959cb6d71e511633_680_1136.jpg">
	                <div style="z-index:239;;height:29.583333333333332%;width:48.125%;left:50.0%;top:7.5%;display:none;"  class="newhref" id="n_239" newhref='"http:\/\/n.sinaimg.cn\/mobileh5\/greathallofthepeople-sinaphoto360\/GreatHallOfThePeople\/index_3.html"'><img style="-webkit-animation:fadeInRight 0.5s ease 1s 1 none,pulse 1.5s ease 3.8s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/dd9f85867b0f9d70c0e788975786a458_368_351.png"></div>
	                <div style="z-index:240;;height:23.541666666666668%;width:49.6875%;left:1.9%;top:36.3%;display:none;"  class="newhref" id="n_240" newhref='"http:\/\/n.sinaimg.cn\/mobileh5\/greathallofthepeople-sinaphoto360\/GreatHallOfThePeople\/index_1.html"'><img style="-webkit-animation:fadeInLeft 0.5s ease 1.5s 1 none,pulse 1.5s ease 3.8s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/c359bcabf0a2b654712c57020e03fba2_362_272.png"></div>
	                <div style="z-index:241;;height:24.791666666666668%;width:48.125%;left:50.3%;top:35.0%;display:none;"  class="newhref" id="n_241" newhref='"http:\/\/n.sinaimg.cn\/mobileh5\/greathallofthepeople-sinaphoto360\/GreatHallOfThePeople\/index_6.html"'><img style="-webkit-animation:fadeInRight 0.5s ease 2s 1 none,pulse 1.5s ease 3.8s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/dc2d78505bda76b814f4d2f34909b8d1_362_296.png"></div>
	                <div style="z-index:242;;height:24.583333333333332%;width:50.9375%;left:1.6%;top:60.0%;display:none;"  class="newhref" id="n_242" newhref='"http:\/\/n.sinaimg.cn\/mobileh5\/greathallofthepeople-sinaphoto360\/GreatHallOfThePeople\/index_5.html"'><img style="-webkit-animation:fadeInLeft 0.5s ease 2.5s 1 none,pulse 1.5s ease 3.8s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/635575e84896861027294eaf9e721b93_368_282.png"></div>
	                <div style="z-index:245;;height:19.375%;width:49.375%;left:1.9%;top:12.5%;display:none;"  class="newhref" id="n_245" newhref='"http:\/\/n.sinaimg.cn\/mobileh5\/greathallofthepeople-sinaphoto360\/GreatHallOfThePeople\/index_4.html"'><img style="-webkit-animation:fadeInLeft 0.5s ease 0.5s 1 none,pulse 1.5s ease 3.8s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/334c1c84378a136ae0e60959ad0172e5_356_230.png"></div>
	                <div style="z-index:252;;height:20.833333333333336%;width:45.625%;left:50.6%;top:62.1%;display:none;"  class="newhref" id="n_252" newhref='"http:\/\/n.sinaimg.cn\/mobileh5\/greathallofthepeople-sinaphoto360\/GreatHallOfThePeople\/index_2.html"'><img style="-webkit-animation:fadeInRight 0.5s ease 3.1s 1 none,pulse 1.5s ease 3.8s infinite none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/1c63799c66ff0d913db0600d6a10c809_323_249.png"></div>
        </div>
        <div class="swiper-slide swiper-lazy" data-height="480" isscrollframe="true" style="background-repeat:no-repeat;background-position:top center;background-size:cover;"  data-background="http://m1.sinaimg.cn/maxwidth.2880/m1.sinaimg.cn/dbf1435ae8cf767ef852d07cc1aa9c7d_680_1136.jpg">
	                <div style="z-index:211;color:#1a1a1a;line-height:1.5;padding:1%;font-size:1em;;;height:23.2421875%;width:72.98828125%;left:14.4%;top:36.9%;;-webkit-animation:;;display:none;"  id="n_211"></div>
	                <div style="z-index:253;;height:46.875%;width:76.25%;left:11.9%;top:6.5%;display:none;"  id="n_253"><img style="-webkit-animation:tada 1.6s ease 0.8s 1 none;;width:100%;height:100%;" data-src="http://m1.sinaimg.cn/maxwidth.640/m1.sinaimg.cn/4fb6481e8ff739dd8319ec5507a6b998_584_554.png"></div>
        </div>

    </div>
</div>
<!-- 主页面 -->

<!-- 控制器 -->
<div id="ctrlsWrap">
    <div id="bgMusicControler" class="bgMusicControler bgMusicOn bgMusicCtrlOut" musicCtrl="1"></div>
        <div id="commentsControler" class="commentsControler commentsCtrlOut">
        <a href="http://cmnt.sina.cn/index?vt=4&product=h5wap&index=h5-auto-6-sinaphoto360GreatHal&tj_ch=gn" style="display: block;width: 100%;height: 100%;"></a>
    </div>
        <div id="shareControler" class="shareControler shareCtrlOut"></div>
    <div id="ctrlsEntrance" class="ctrlsEntrance"></div>
</div>
<!-- 控制器 -->

<!-- 箭头 -->
<div id="arrow"><img src="http://mjs.sinaimg.cn/wap/module/h5_builder/main/images/arrow.png"></div>
<!-- 箭头 -->

<!-- 加载提示 -->

<div id="loadingWrap">
    <div class="top">
        <img src="http://mjs.sinaimg.cn/wap/module/h5_builder/main/images/sina-loading.gif">
    </div>
    <div class="bottom">
        <div class="msg">
            <p>新浪移动出品</p>
            <div id="loading">0.00%</div>
        </div>
    </div>
</div>


<!-- 加载提示 -->

<!-- 广告模板 -->
<script sax-type="small" type="text/html">
    <div class="img-con">
        <img class="j_ad ad_img" src="<% obj['img']['u'] %>" newhref="<% obj['url'] %>"></img>
        <span>赞助</span>
    </div>
    <strong class="j_ad" newhref="<% obj['url'] %>"><% obj['title'] %></strong>
</script>
<script sax-type="big" type="text/html">
    <li class="j_ad j_ad_last" style="-webkit-animation: fadeIn 0.8s ease 0.3s both;width:8.71rem;height:4.38rem;" newhref="<% obj['url'] %>" animate-style-cache="fadeIn 0.8s ease 0.3s both">
        <div class="img-con" style="height:4.38rem;">
            <img class="ad_img" src="<% obj['img']['u'] %>"></img>
            <span>赞助</span>
        </div>
        <strong style=""><% obj['title'] %></strong>
    </li>
</script>
<!-- 广告模板 -->

<script type="text/javascript">
    // 分享参数
    var __docConfig = {
        __domain: 'h5', //文档所在域
        __docUrl: location.href, //分享的url
        __mainPic: 'http://m1.sinaimg.cn/maxwidth.480/m1.sinaimg.cn/d54e414105d73692ff84c83d84c404f9_320_320.jpg', //分享的图片链接
        __title: '人民大会堂全景巡游-新浪图片两会策划-新浪新闻出品',            //分享的标题
        __isdoc: 1,        __content: '人民大会堂全景巡游-新浪图片两会策划-新浪新闻出品',         //分享的内容摘要
        __tj_ch: 'h5',//统计参数
        __docId: '2513'
    };

    // 页面切换效果
    var page_turning = '0';
    // 控制器位置
    var ctrl_pos = '1';
    // 页面播放方式
    var play = '0:';
    // 是否允许翻页
    var swipType = 1;
    // 背景音乐
    var bgMusicUrl = "";

    if(host === 'h5.sina.cn'){
        addjs.js('http://mjs.sinaimg.cn/wap/module/h5_builder/main/js/h5.min.js');
    }else{
        addjs.js('http://wap_front.dev.sina.cn/niumeng/h5/js/h5.min.js');
    }
    var __pushConfig = {__isAllNotShow : true}
</script>
        

<script src="http://mjs.sinaimg.cn/wap/online/public/NPH/v3/nph.min.js"></script>
<script src="http://mjs.sinaimg.cn/wap/public/suda/201601071000/suda_log.min.js"></script>
<script src="http://mjs.sinaimg.cn/wap/public/suda/201601071000/suda_map.min.js"></script>
<script>
function sendSinanewsLog(){
    var _ua = navigator.userAgent.toLowerCase(),
    isSinaNews = _ua.indexOf('sinanews')>-1,
    aid = '';
    if(isSinaNews){
      aid = 'expose_sinanews';
    }else{
      aid = 'expose';
    }
    sendSudaLog(aid);
}
var sudaMapConfig = { uId:'', pageId:'3576' };
suda_init(sudaMapConfig.pageId, 100);
var sendSudaLog = function(sudaName){
    var obj = {
        'name' : sudaName,
        'type' : '',
        'title'  : '',
        'index' : '',
        'href' : ''
    };
    if( typeof(window.suds_count) == 'function' || window.suds_count){
        window.suds_count && window.suds_count( obj );
    }
}
sendSinanewsLog();
</script>

</body>
</html>